*{
    margin: 0;
    padding: 0;
}
  h3 {
float: left;
color: white;
padding-left: 15px;
margin-top: 10px;
font-size: xx-large;
 }
 ul {
list-style-type: none;
}
 
nav ul li a{
    text-decoration: none;
    color:white;
    padding-right: 20px;
    margin-top: 15px;
}
nav ul li{
    display: inline;
}
ul {
    color: white;
    float: right;
    margin-top: 15px;
    font-size: 5mm;
}
#navtypo {
    background: black ;
    height: 60px; 
}
 #navtypo :hover {
color: tomato;
transition: o.3s;
}
.foot {
    background: rgb(15, 13, 13) ;
     height: 3px;
     margin-top: 500px;
     color: cornsilk;
     padding: 10mm;
     padding-left: 500px;
        }
